@use "../../../variables" as *;
@use "../../../keyframes" as *;

.newsletter {
   background-color: $color-background-grey;

   background-image: url("../img/background/background-wavy-lines.svg");
   background-repeat: no-repeat;
   background-position: right;
   background-position-y: 70%;

   .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      flex-wrap: nowrap;

      padding: $gap-large 0;

      @media (min-width: $bs-xxl) {
         flex-direction: row;
      }

      form {
         margin-top: 25px;

         @media (min-width: $bs-xxl) {
            margin-top: 0;
         }

         input {
            width: 250px;
            margin: 0 15px;

            padding: 1rem 2.5rem;

            @media (min-width: $bs-m) {
               width: 300px;
            }
         }

         button {
            margin-top: 20px;

            @media (min-width: $bs-xxl) {
               margin-top: 0;
            }
         }
      }
   }
}