@use "./variables" as *;
@use "./keyframes" as *;

main {

   .sub-header {
      background-color: $color-background-grey;
      text-align: center;
      background-image: url("./assets/img/background/background-lines.svg");
      background-repeat: no-repeat;
      background-position: bottom left;
      animation:
         bg-size-bounce 10s infinite ease-in-out,
         bg-enter-left 1.0s ease-in-out;

      padding-top: 5.5vh;
      padding-bottom: 7.5vh;

      h1 {
         font-size: 2.5rem;

         @media (min-width: $bs-s) {
            font-size: 3em;
         }

         @media (min-width: $bs-m) {
            font-size: 3.5em;
         }
      }
   }

   .contact-info {
      margin-top: $gap-large;

      .container {
         display: grid;

         grid-template-columns: 1fr;
         gap: 25px;

         padding: auto;

         text-wrap: nowrap;

         @media (min-width: $bs-l) {
            grid-template-columns: repeat(3, 1fr);

            padding: 0;
         }

         .content {
            border: 2px solid $color-background-grey;
            padding: 50px;
            padding-bottom: 30px;

            position: relative;

            img {
               position: absolute;
               left: 10%;
            }

            div {
               margin-left: 28%;

               a {
                  color: $color-text-darkgrey;
               }
            }

            .email-box {
               p {
                  margin-bottom: 0;
               }
            }
         }
      }

   }

   .message {
      margin-top: $gap-medium;

      .container {
         background-color: $color-background-grey;
         padding: 20px 30px;

         @media (min-width: $bs-m) {
            padding: 50px 75px;
         }

         @media (min-width: $bs-xl) {
            padding: $gap-large 150px;
         }

         h2 {
            text-align: center;

            margin-left: auto;
            margin-right: auto;

            width: 100%;

            @media (min-width: $bs-m) {
               width: 60%;
            }

            @media (min-width: $bs-xl) {
               width: 45%;
            }
         }

         input {
            width: 100%;
            margin-top: 15px;
         }

         textarea {
            margin-top: 15px;
            height: 10rem;
            width: 100%;
         }

         button {
            width: 100%;
            margin-top: 30px;
         }
      }
   }

   .gmp-map {
      margin-top: 120px;

      img {
         object-fit: cover;
         height: 58vh;
         width: 100%;
      }
   }

}